<hr>
<footer>

    <div class="foot-body">
        <div class="foot-left">
            <img src="./images/logo.png" alt="image logo" width="60">
            <p>Web designer and back-end developer</p>
        </div>
        <div class="foot-right">
            <h3>Media</h3>
            <ul>
                <li><i class="fa-brands fa-discord"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-telegram"></i></li>
            </ul>
        </div>
    </div>
    <div class="copyright">© Copyright 2024. Made by Elias</div>
</footer>