@media only screen and (max-width:768px) {
    nav {
        min-width: 95%;
    }

    .container {
        margin: 100px auto;
        flex-direction: column;
        gap: 50px;
        min-width: 90vw;
        position: static;
    }

    .socialprofile {
        display: none;
    }

    .container-head {
        min-width: 75%;
        margin: auto;
    }

    .container-head h2 {
        font-size: 1em;
    }

    .container .container-head button {
        display: none;
    }

    .container-image {
        width: 70%;
        margin: auto;
    }

    .container-image .box {
        font-size: 0.8em;
        min-width: 100%;
        max-width: 100%;
        padding: 5px 5px;
        margin: 0px;
    }

    .navbar {
        display: none;
    }

    .project-detail {
        min-width: 122%;
        flex-direction: column;
        margin: auto;
    }

    .thought {
        display: none;
    }

    header {
        justify-content: center;
        min-width: 90vw;
    }

    .project-container .project-head {
        font-size: 0.7em;
        width: 95%;
    }

    .project-container .project-head a {
        margin: 5px 0px;
    }

    .project-detail {
        min-width: 100%;
    }

    .probox {
        min-width: 55%;
        position: static;
    }

    .pro-line {
        margin: 10px;
        min-width: 20%;
    }

    .lang-box {
        min-width: 55%;
        max-width: 55%;
        font-size: 0.9em;
        height: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .skill-container {
        min-width: 80vw;
        margin: 20px;
    }

    .skill-img-cont img {
        display: none;
    }

    #skills {
        min-width: 90vw;
        max-width: 90vw;
    }

    #about {
        min-width: 80vw;
        margin-top: 715px;
        display: block;

    }

    .about-right img{
        display: none;
    }

    .about-left {
        min-width: 85%;
        max-width: 85%;
        margin: auto;
    }

    .about-head {
        min-width: 85vw;
        font-size: 0.8em;
        margin: 10px;
    }

    .about-head h2{
        min-width: 50vw;
    }

    .about-btn {
        display: none;
    }

    #contact{
        margin: 30px;
    }

    .contact-head {
        min-width: 85vw;
        font-size: 0.8em;
    }

    .contact-body {
        min-width: 80vw;
        font-size: 0.8em;
    }

    footer {
        min-width: 100vw;
        font-size: 0.5em;
        margin: 10px 0px;
    }

    .foot-right ul{
        padding: 30px 15px 0px 0px;
    }
    .foot-right ul li{
        font-size: 15px !important;
    }

    .heading {
        width: 80vw;
        margin: auto;
        position: static;
        font-size: 0.8em;
    }

    .apps-head {
        min-width: 80vw;
        font-size: 0.8em;
    }

    .apps-body {
        margin-bottom: 365px;
        min-width: 80vw;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 769px) and (max-width:1024px) {
    .container {
        margin-left: 150px;
        gap: 35px;
    }

    .container .container-head {
        min-width: 40vw;
    }

    .container .container-head button {
        min-width: 35%;
    }

    .container-image {
        min-width: 40%;
        max-width: 40%;
    }

    nav {
        min-width: 80vw;
        margin: 35px 30px;
    }

    .thought {
        display: none;
    }

    #projects {
        margin: -50px 0px 125px 25px;
    }

    .project-container .project-head {
        min-width: 60vw;
        max-width: 60vw;
    }

    .project-container .project-head .pro-line {
        min-width: 25%;
    }

    .project-container .project-head a {
        min-width: 25%;
    }

    .skill-img-cont img {
        min-width: 50%;
    }

    .about-right img {
        min-width: 35vw;
        max-width: 35vw;
    }

    header {
        margin-left: -50px;
    }

    .container-image .box {
        font-size: 0.75em;
        margin: 0px;
    }
}


/* media query */
@media only screen and (min-width: 1025px) {
    .container {
        margin-left: 190px;
    }

    .container .container-head button {
        width: 30%;
    }

    .project-container .project-head a {
        min-width: 25%;
    }

}